/code/katana/dataset.py
/code/katana/iter400/bestYet/__pycache__/dataset.cpython-37.pyc
/code/katana/iter400/bestYet/attributes.txt
/code/katana/iter400/bestYet/checkpoint
/code/katana/iter400/bestYet/confusionMatrix.png
/code/katana/iter400/bestYet/dataset.py
/code/katana/iter400/bestYet/metrics.PNG
/code/katana/iter400/bestYet/modelBest_log.txt
/code/katana/iter400/bestYet/retina-model.index
/code/katana/iter400/bestYet/retina-model.meta
/code/katana/iter400/bestYet/summary/accuracy.svg
/code/katana/iter400/bestYet/summary/cost.svg
/code/katana/iter400/bestYet/summary/test/events.out.tfevents.1569327962.LAPTOP-INN46447
/code/katana/iter400/bestYet/summary/testBest/events.out.tfevents.1580535473.k103
/code/katana/iter400/bestYet/summary/train/events.out.tfevents.1569327941.LAPTOP-INN46447
/code/katana/iter400/bestYet/summary/trainBest/events.out.tfevents.1580535472.k103
/code/katana/iter400/bestYet/train.py
/code/katana/iter400/depth/model1/__pycache__/dataset.cpython-37.pyc
/code/katana/iter400/depth/model1/attributes.txt
/code/katana/iter400/depth/model1/checkpoint
/code/katana/iter400/depth/model1/confusion.png
/code/katana/iter400/depth/model1/dataset.py
/code/katana/iter400/depth/model1/metrics.PNG
/code/katana/iter400/depth/model1/model1_log.txt
/code/katana/iter400/depth/model1/retina-model1.data-00000-of-00001
/code/katana/iter400/depth/model1/retina-model1.index
/code/katana/iter400/depth/model1/retina-model1.meta
/code/katana/iter400/depth/model1/summary/testModel1/events.out.tfevents.1580536607.k103
/code/katana/iter400/depth/model1/summary/trainModel1/events.out.tfevents.1580536606.k103
/code/katana/iter400/depth/model1/train.py
/code/katana/iter400/depth/model3/__pycache__/dataset.cpython-37.pyc
/code/katana/iter400/depth/model3/attributes.txt
/code/katana/iter400/depth/model3/checkpoint
/code/katana/iter400/depth/model3/confusion.png
/code/katana/iter400/depth/model3/dataset.py
/code/katana/iter400/depth/model3/metrics.PNG
/code/katana/iter400/depth/model3/model3_log.txt
/code/katana/iter400/depth/model3/retina-model.index
/code/katana/iter400/depth/model3/retina-model.meta
/code/katana/iter400/depth/model3/retina-model3.data-00000-of-00001
/code/katana/iter400/depth/model3/retina-model3.index
/code/katana/iter400/depth/model3/retina-model3.meta
/code/katana/iter400/depth/model3/summary/test/events.out.tfevents.1569330636.LAPTOP-INN46447
/code/katana/iter400/depth/model3/summary/testModel3/events.out.tfevents.1580536781.k103
/code/katana/iter400/depth/model3/summary/train/events.out.tfevents.1569330627.LAPTOP-INN46447
/code/katana/iter400/depth/model3/summary/trainModel3/events.out.tfevents.1580536780.k103
/code/katana/iter400/depth/model3/train.py
/code/katana/iter400/depth/model5/__pycache__/dataset.cpython-37.pyc
/code/katana/iter400/depth/model5/attributes.txt
/code/katana/iter400/depth/model5/checkpoint
/code/katana/iter400/depth/model5/confusion.png
/code/katana/iter400/depth/model5/dataset.py
/code/katana/iter400/depth/model5/metrics.PNG
/code/katana/iter400/depth/model5/model5_log.txt
/code/katana/iter400/depth/model5/retina-model5.data-00000-of-00001
/code/katana/iter400/depth/model5/retina-model5.index
/code/katana/iter400/depth/model5/retina-model5.meta
/code/katana/iter400/depth/model5/summary/test/events.out.tfevents.1569368822.LAPTOP-INN46447
/code/katana/iter400/depth/model5/summary/testModel5/events.out.tfevents.1580537050.k103
/code/katana/iter400/depth/model5/summary/train/events.out.tfevents.1569368817.LAPTOP-INN46447
/code/katana/iter400/depth/model5/summary/trainModel5/events.out.tfevents.1580537050.k103
/code/katana/iter400/depth/model5/train.py
/code/katana/iter400/depth/model9/__pycache__/dataset.cpython-37.pyc
/code/katana/iter400/depth/model9/attributes.txt
/code/katana/iter400/depth/model9/checkpoint
/code/katana/iter400/depth/model9/confusion.png
/code/katana/iter400/depth/model9/dataset.py
/code/katana/iter400/depth/model9/metrics.PNG
/code/katana/iter400/depth/model9/model9_log.txt
/code/katana/iter400/depth/model9/retina-model9.data-00000-of-00001
/code/katana/iter400/depth/model9/retina-model9.index
/code/katana/iter400/depth/model9/retina-model9.meta
/code/katana/iter400/depth/model9/summary/testModel9/events.out.tfevents.1580537188.k103
/code/katana/iter400/depth/model9/summary/trainModel9/events.out.tfevents.1580537187.k103
/code/katana/iter400/depth/model9/train.py
/code/katana/iter400/width/model2/__pycache__/dataset.cpython-37.pyc
/code/katana/iter400/width/model2/attributes.txt
/code/katana/iter400/width/model2/checkpoint
/code/katana/iter400/width/model2/confusion.png
/code/katana/iter400/width/model2/dataset.py
/code/katana/iter400/width/model2/metrics.PNG
/code/katana/iter400/width/model2/model2_log.txt
/code/katana/iter400/width/model2/retina-model2.data-00000-of-00001
/code/katana/iter400/width/model2/retina-model2.index
/code/katana/iter400/width/model2/retina-model2.meta
/code/katana/iter400/width/model2/summary/testModel2/events.out.tfevents.1580535849.k103
/code/katana/iter400/width/model2/summary/trainModel2/events.out.tfevents.1580535848.k103
/code/katana/iter400/width/model2/train.py
/code/katana/iter400/width/model4/__pycache__/dataset.cpython-37.pyc
/code/katana/iter400/width/model4/attributes.txt
/code/katana/iter400/width/model4/checkpoint
/code/katana/iter400/width/model4/confusion.png
/code/katana/iter400/width/model4/dataset.py
/code/katana/iter400/width/model4/metrics.PNG
/code/katana/iter400/width/model4/model4_log.txt
/code/katana/iter400/width/model4/retina-model.index
/code/katana/iter400/width/model4/retina-model.meta
/code/katana/iter400/width/model4/retina-model4.data-00000-of-00001
/code/katana/iter400/width/model4/retina-model4.index
/code/katana/iter400/width/model4/retina-model4.meta
/code/katana/iter400/width/model4/summary/testModel4/events.out.tfevents.1580536096.k103
/code/katana/iter400/width/model4/summary/trainModel4/events.out.tfevents.1580536095.k103
/code/katana/iter400/width/model4/train.py
/code/katana/iter400/width/model6/__pycache__/dataset.cpython-37.pyc
/code/katana/iter400/width/model6/attributes.txt
/code/katana/iter400/width/model6/checkpoint
/code/katana/iter400/width/model6/confusion.png
/code/katana/iter400/width/model6/dataset.py
/code/katana/iter400/width/model6/metrics.PNG
/code/katana/iter400/width/model6/model6_log.txt
/code/katana/iter400/width/model6/retina-model6.data-00000-of-00001
/code/katana/iter400/width/model6/retina-model6.index
/code/katana/iter400/width/model6/retina-model6.meta
/code/katana/iter400/width/model6/summary/test/events.out.tfevents.1569370429.LAPTOP-INN46447
/code/katana/iter400/width/model6/summary/testModel6/events.out.tfevents.1580536213.k103
/code/katana/iter400/width/model6/summary/train/events.out.tfevents.1569370423.LAPTOP-INN46447
/code/katana/iter400/width/model6/summary/trainModel6/events.out.tfevents.1580536213.k103
/code/katana/iter400/width/model6/train.py
/code/katana/iter400/width/model7/__pycache__/dataset.cpython-37.pyc
/code/katana/iter400/width/model7/attributes.txt
/code/katana/iter400/width/model7/checkpoint
/code/katana/iter400/width/model7/confusion.png
/code/katana/iter400/width/model7/dataset.py
/code/katana/iter400/width/model7/metrics.PNG
/code/katana/iter400/width/model7/model7_log.txt
/code/katana/iter400/width/model7/retina-model7.data-00000-of-00001
/code/katana/iter400/width/model7/retina-model7.index
/code/katana/iter400/width/model7/retina-model7.meta
/code/katana/iter400/width/model7/summary/testModel7/events.out.tfevents.1580536361.k103
/code/katana/iter400/width/model7/summary/trainModel7/events.out.tfevents.1580536360.k103
/code/katana/iter400/width/model7/train.py
/code/katana/model7_log.txt
/code/katana/predict.py
/code/katana/train.py
/code/multi/summary/test/events.out.tfevents.1580105607.k103
/code/multi/summary/train/events.out.tfevents.1580105603.k103
